@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  section {
    padding: 80px 0;
  }

  .container {
    padding: 0 20px;
  }

  .main-title,
  .section-title {
    font-size: 30px;
  }

  .section-title {
    text-shadow: 2px 2px var(--black);
  }

  .section-btn {
    padding: 17px 26px;
    font-size: 14px;
  }

  .nav__link {
    font-size: 30px;
  }





/* COMMON__BLOCK */
.block::before {
  top: 10px;
  left: 10px;
  background-size: 40px 10px;
}

.block-strip {
  padding: 50px 16px 20px 16px;
  /* background-position: left 20px top 14px; */
}
.block.block-strip::before {
  top: 10px;
  background-size: 40px 10px;
}
.block-strip::after {
  height: 30px;
}

.block-bg {
  padding: 30px 10px 10px;
}





/* COMMON__ANIMATIONS */
.bottle {
  bottom: -120px;
  left: 20px;
  width: 30%;
}

.cloud {
 display: none;
}





/* COMMON__BACKGROUND */
.hero {
  background: var(--violet-d) url(../img/bg-hero-mob.svg) no-repeat bottom 50px center/100%;
} 
.about {
  background:var(--blue) url(../img/bg-about-mob.svg) no-repeat center/100%;
} 
.skill {
  background: var(--violet) url(../img/bg-skill-mob.svg) no-repeat bottom 150px center/100%;
}
.work {
  background: var(--violet-d) url(../img/bg-work-mob.svg) no-repeat left top 80px/40%;
}
.review {
  background: none;
  background-color: var(--violet);
}





/* HEADER */
.header__container {
  position: relative;
  justify-content: space-between;
}

.header__mob {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__main {
  justify-content: space-between;
}

.header__logo {
  margin-right: 0;
}

.header__logo-img {
  width: 53px;
}

.burger,
.close {
  width: 30px;
}

.close {
  display: block;
}

.header__main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: flex-start;
  padding: 0 20px;
  height: 100vh;
  background-color: var(--violet-d);
  transform: translateY(-200%);
  transition: transform .6s ease-in-out;
}

.header__main--active {
  transform: translateY(0);
}

.nav {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
}

.nav__list {
  flex-direction: column;
  gap: 25px;
}

.nav__item {
  width: 210px;
}

.nav__link {
  display: inline-block;
  width: 100%;
}

.close {
  display: block;
}





/* MAIN */
.hero {
  padding-bottom: 200px;
}

.hero__container {
  gap: 80px;
}





.about__content {
  flex-direction: column-reverse;
  gap: 35px;
}

.about__content-detail {
  gap: 30px;
  flex-basis: 0;
  padding: 30px 10px;
  border-radius: 0 0 12px 12px;
  box-shadow: 2px 3px var(--black);
}

.about__content-detail a {
  align-self: center;
}





.skill__block {
  position: relative;
  margin-bottom: 260px;
}

.skill__block a {
  position: absolute;
  bottom: -230px;
  min-width: 210px;
}





.work__list {
  flex-direction: column;
}





.review__list {
  flex-direction: column;
}

.review__item {
  flex-direction: column;
  gap: 13px;
} 

.review__block {
  width: 210px;
}

.review__photo-wrap {
  width: 190px;
}

.review__opinion {
  width: 210px;
  background: url(../img/opinion-mob.svg) no-repeat center/ 100%;
}

.review__opinion-descr {
  padding: 15px 10px;
  min-height: max-content;
}





/* FOOTER */
.footer__container {
  flex-direction: column;
  gap: 40px;
}

.footer__person {
  text-align: center;
}

.footer__copyright {
  order: 1;
}
}






