/* RESET */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

p,
h1,
h2 {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}





/* COMMON */
:root {
  --black: #000000;
  --black-l: #2B2D35;
  --white: #FFFFFF;
  --violet-d: #200153;
  --violet: #792AFF;
  --blue: #0090FF;
  --green: #BBFF2C;
  --block: #D2D0F7;
} 

body {
  min-width: 320px;
  font: 700 20px "ALS Sector Regular","Inter","Roboto", sans-serif;
  color: var(--black);
}

section {
  padding: 130px 0;
}

.container {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1440px;
}

.main-title,
.section-title {
  font: 700 80px "Inter";
  text-transform: uppercase;
}

.main-title {
  color: var(--black-l);
}

.section-title {
  color: var(--white);
  text-shadow: 5px 5px var(--black);
  margin-bottom: 60px;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}






/* COMMON__BTN */
.btn {
  font: 700 20px "ALS Sector Regular";
  text-align: center;
  border: 2px solid var(--black);
  transition: .3s ease-in-out;
  transition-property: color, background-color;
}

.section-btn {
  padding: 22px 26px;
  border-radius: 100px;
  background-color: var(--green);
  box-shadow: 4px 4px var(--black);
  min-width: 204px;
}
.section-btn:hover {
  background-color: var(--white);
}

.nav__link {
  padding: 9.5px 17.5px;
  border-radius: 12px;
  background-color: var(--white);
  white-space: nowrap;
}
.nav__link:hover {
  color: var(--violet);
}

.nav__link:active,
.nav__link.active {
  color: var(--white);
  background-color: var(--violet);
}






/* COMMON__BLOCK */
.block {
  position: relative;
  border-radius: 10px;
}
.block::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 64px 16px;
  background-image: url(../img/block-circles.svg);
}

.block-strip {
  border: 2px solid var(--black);
  background-color: var(--white);
  padding: 90px 40px 40px;
  background-position: left 20px top 14px;
  box-shadow: 0 4px var(--black);
}
.block.block-strip::before {
  background-size: 83px 21px;
  top: 14px;
}
.block-strip::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: var(--block);
  border-bottom: 2px solid var(--black);
  border-radius: 10px 10px 0 0;
}

.block-bg {
  padding: 57px 20px 20px;
  background-color: var(--block);
}





/* COMMON__ANIMATIONS */
@keyframes anim {
  from{
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

.bottle,
.cloud {
  animation: anim 2s alternate linear infinite;
  position: absolute;
  bottom: -60px;
  left: 30px;
}





/* COMMON__BACKGROUND */
.header,
.footer {
  background-color: var(--violet-d);
}

.hero {
  background: var(--violet-d) url(../img/bg-hero-desc.svg) no-repeat bottom 50px center/100%;
} 
.about {
  background:var(--blue) url(../img/bg-about-desc.svg) no-repeat center/100%;
} 
.skill {
  background: var(--violet) url(../img/bg-skill-desc.svg) no-repeat bottom 50px center/100%;
}
.work {
  background: var(--violet-d) url(../img/bg-work-desc.svg) no-repeat center/90%;
}
.review {
  background: var(--violet) url(../img/bg-rev-desc.svg) no-repeat center/90%;
}










/* HEADER*/
.header {
position: fixed;
z-index: 1000;
width: 100%;
padding: 15px 0;
}

.header__logo {
  margin-right: 275px;
}

.header__logo-img {
width: 84px;
height: 47px;
}

.nav__list  {
  gap: 20px;
}

.burger {
  display: none;
}







/* MAIN */
.hero {
padding-top: 260px;
}

.hero__container {
  position: relative;
  gap: 20px;
}

.rocket-boss {
  position: absolute;
  top: -108px;
  left: 100px;
}






.about__container {
  position: relative;
}

.about__content {
  justify-content: center;
}

.about__content-detail {
  padding: 35px;
  background-color: var(--violet);
  border-radius: 0 0 0 12px;
  align-items: flex-start;
  gap: 50px;
  flex-basis: calc(920px - 375px);
}

.about__content-detail p {
  color: var(--white);
  font-weight: 400;
}

.about__photo-wrap {
  max-width: 335px;
  max-height: 185px;
  overflow: hidden;
  margin-bottom: 20px;
}

.about__list {
  font-weight: 400;
  align-items: flex-start;
  gap: 5px;
}







.skill__block {
  gap: 40px;
  max-width: 640px;
  margin: 0 auto;
}

.skill__block p {
  text-align: center;
}

.skill__block a {
  min-width: 295px;
}







.work__list {
  gap: 20px;
}







.review__list {
  gap: 15px;
  max-width: 1050px;
  margin: 0 auto;
}


.review__item {
  gap: 7px;
} 

.review__block {
  align-items: flex-start;
  gap: 10px;
  width: 195px;
  box-shadow: 4px 4px var(--black);
}

.review__photo-wrap {
  width: 154px;
}

.review__photo-wrap img{
  width: 100%;
}

.review__block-descr {
  font-weight: 400;
  opacity: 0.5;
}

.review__opinion {
  background: url(../img/opinion.svg) no-repeat center/ 100%;
  width: 315px;
  font-weight: 400;
}

.review__opinion-descr {
  padding: 20px 20px 20px 35px;
  min-height: 161px;
}







/* FOOTER */
.footer {
  color: var(--white);
  padding: 40px 0;
}

.footer__container {
justify-content: space-between;
}

.footer__person span{
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}

.footer__person p,
.footer__copyright{
  font-weight: 400;
}

.footer__soc {
  gap: 20px;
}









